body,html{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.st-container{
    border: 1px solid green;
    background: lightgreen;
    color: green;
    width: 80%;
    margin: 30% auto;
    text-align: center;
}

.exit{
    width: 95%;
    margin: 5% auto 10%;
}

.st-container h2{
    margin: 20px;
}
.st-container button{
    font-size: 16px;
    padding:3px 8px;
    margin-bottom: 20px;
    cursor: pointer;
    background: green;
    color: white;
    border-radius: 5px;
}

.container{
    /* border: 1px solid; */
    height: 93vh;

}

.element-container{
    margin-top: 70px;
    height: 50vh;
    width: 95%;
    margin: 5% auto;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: lightgreen;

}

.element-container .element{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 45px;

}

.bottom{
    width: 95%;
    margin: 3% auto;
    /* border: 1px solid; */
}
.bottom .chance{
    border: 1px solid;
    margin: 3% auto;
    text-align: center;
    padding: 7px;
    border: 1px solid green;
    margin-top: 6%;
}

.bottom .restart{
    border: 1px solid;
    margin: 3% auto;
    background: green;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    color: white;
}

.victory{
    background: green;
    color: white !important;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(114, 114, 114);

}

@media screen and (min-width:600px) {
    .st-container,.element-container, .bottom{
        width: 50%;
    }
    .element-container{
        height: 60vh;
    }
    .exit{
        width: 95%;
        margin: 5% auto 5%;
    }
}